@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');
*{
  margin: 0px;
  border: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  margin: 0;
   font-family:'Inter',sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* 
#root{
  font-size: 62.5%;
} */